.place__title {
  grid-area: title;
  font-family: Inter, Arial, sans-serif;;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media all and (max-width: 700px) {
  .place__title {
    font-size: 36px;
  }
}

@media all and (max-width: 350px) {
  .place__title  {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}