@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__list/header__list.css);

.header {
  width: calc(100vw - 2*48px);
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}