.footer__link {
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #ffffff;
}

@media all and (max-width: 450px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}