.lead__title {
  width: 720px;
  height: 200px;
  margin: 0 auto;
  text-align: center;   
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #ffffff;
}