@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__item/intro__item.css);
@import url(./__item-bold/intro__item-bold.css);

.intro {
  margin: 92px 0 0 148px;
  max-width: 690px;
}

@media all and (max-width: 1024px) {
  .intro {
    margin: 92px 0 0 48px;
  }
}

@media all and (max-width: 768px) {
  .intro {
    margin: 88px 0 0 24px;
    width: calc(100vw - 2*24px);
  }
}

@media all and (max-width: 320px) {
  .intro {
    margin: 64px 0 0 16px;
    max-width: 288px;
  }
}