@import url(./__content/cover__content.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);

.cover {
  width: calc(100% - 2*48px);
  height: 740px;
  margin: 92px 48px 0 48px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media all and (max-width: 1024px) {
  .cover {
    width: 100%;
    height: 640px;
    margin: 92px 0 0 0;
  }
}

@media all and (max-width: 768px) {
  .cover {
    height: 480px;
    margin-top: 88px;
  }
}

@media all and (max-width: 450px) {
  .cover {
    height: 300px;
    margin-top: 72px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    height: 200px;
    margin-top: 64px;
  }
}