@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);

@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-Regular.woff2);
  font-weight: normal;
}
  
@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-Bold.woff2);
  font-weight: bold;
}

