.cover__title {
  max-width: 560px;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
}

@media all and (max-width: 550px) {
  .cover__title {
    max-width: 400px;
    font-size: 56px;
  }
}

@media all and (max-width: 450px) {
  .cover__title {
    max-width: 310px;
    font-size: 40px;
  }
}
@media all and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}