@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  width: 100%;
  padding: 80px 0 0 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas: 
  "title website"
  "image text";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.place:first-of-type {
  padding: 0;
}

@media all and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-row-gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-row-gap: 28px;
    padding-top: 72px;
  }
}

@media all and (max-width: 700px) {
  .place {
    grid-template-columns: 220px 1fr;
    grid-column-gap: 30px;
  }
}

@media all and (max-width: 450px) {
  .place {
    padding-top: 60px;
    grid-template-columns: 300px;
    grid-template-areas:
    "title"
    "website"
    "image"
    "text";
    grid-row-gap: 40px;
  }
}

@media all and (max-width: 350px) {
  .place {
    padding-top: 48px;
    grid-template-columns: 320px;
    grid-template-areas:
    "title"
    "image"
    "text";
    grid-row-gap: 32px;
  }
}